<header class="header">
  <div class="container">
    <div class="header__section">
      <div class="header__img">
        <img class="header__img-logo" src="assets/icons/Logo.svg" alt="logo">
      </div>
      <ul class="header__list">
        <li class="header__item">Home</li>
        <li class="header__item">Business</li>
        <li class="header__item">About</li>
        <li class="header__item">Features</li>
      </ul>
      <button class="header__button button">Login / Register</button>
    </div>
  </div>
</header>
