<footer class="footer">
  <div class="container">
    <div class="footer__row">
      <div class="footer__column">
        <div class="footer__logo">
          <img src="assets/icons/Logo.svg" alt="logo">
        </div>
        <ul class="footer__social">
          <li class="footer__social-item">
            <a href="#">
              <img class="footer__social-img" src="assets/icons/insta.svg" alt="instagram">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img class="footer__social-img" src="assets/icons/fb.svg" alt="fb">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img class="footer__social-img" src="assets/icons/twi.svg" alt="twiter">
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#">
              <img class="footer__social-img" src="assets/icons/youtube.svg" alt="youtube">
            </a>
          </li>
        </ul>
        <div class="footer__text">2021 Copyright. All rights reserved</div>
      </div>
      <div class="footer__column-info">
        <div class="footer__info">
          <div class="footer__list-title">About Us</div>
          <ul class="footer__text footer__text_list">
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">About</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Careers</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Blog</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Legal & privacy</a>
            </li>
          </ul>
        </div>
        <div class="footer__info">
          <div class="footer__list-title">Services</div>
          <ul class="footer__text footer__text_list">
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Aplications</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Buy Crypto</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Affilliate</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Institutional Services</a>
            </li>
          </ul>
        </div>
        <div class="footer__info">
          <div class="footer__list-title">Learn</div>
          <ul class="footer__text footer__text_list">
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">What is Cryptocurency?</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Crypto Basic</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Tips and Tutorials</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__link-item" href="#">Market Update</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__circle"></div>
    <div class="footer__circle footer__circle_white"></div>
  </div>
</footer>
