<div class="graf-card history-card">
  <div class="graf-card__info">
    <div class="graf-card__title">
      <div class="graf-card__balance">$ 53,231.00</div>
      <div class="graf-card__name">Portfolio History</div>
    </div>
    <div class="graf-card__time">
      <span class="graf-card__time-text">This Week</span>
      <img src="assets/icons/shape.svg" alt="shape">
    </div>
  </div>
  <div class="graf-card__img-box">
    <img class="graf-card__img" src="assets/images/graf.png" alt="graf">
  </div>
</div>

