.graf-card {
  width: 100%;
  padding: 17px 19px;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__balance {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 19px;
    line-height: 33px;
    color: #232D42;
   }
  &__name {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
  &__time {
    display: flex;
    column-gap: 13px;
  }
  &__time-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #8A92A6;
  }
  &__img{
    width: 100%;
  }
}
