.dashboard {
  display: flex;
  &__side-menu {
    width: 257px;
    height: 100vh;
  }
  &__main {
    width: calc(100% - 257px);
  }
  &__header {
    width: 100%;
  }
  &__content {
    width: 100%;
  }
}
