<header class="header">
  <div class="header__input">
    <img src="assets/icons/search.svg" alt="search">
    <input class="header__input-item" type="text" placeholder="Search...">
  </div>
  <ul class="header__list">
    <li class="header__list-item">
      <a class="header__list-link" href="#">
        <img class="header__list-img" src="assets/icons/language.svg" alt="language">
      </a>
    </li>
    <li class="header__list-item">
      <a class="header__list-link" href="#">
        <img class="header__list-img" src="assets/icons/bell.svg" alt="notifications">
      </a>
    </li>
    <li class="header__list-item">
      <a class="header__list-link" href="#">
        <img class="header__list-img" src="assets/icons/message.svg" alt="message">
      </a>
    </li>
    <li class="header__list-item header__list-item_profile">
      <a class="header__list-link" href="#">
        <img class="header__list-img" src="assets/icons/avatar.svg" alt="avatar">
      </a>
      <div class="header__profile">
        <div class="header__profile-name">John Doe</div>
        <div class="header__profile-name header__profile-name_trade">Crypto Trader</div>
      </div>
    </li>
  </ul>
</header>
