<aside class="side-menu">
  <div class="side-menu__logo-box">
    <img class="side-menu__dashboard-logo" src="assets/images/dashboard-logo.svg" alt="dashboard-logo">
  </div>
  <div class="side-menu__button-box">
      <button class="side-menu__button">
        <img src="assets/icons/dashboard-icon.svg" alt="dashboard-icon">
        Dashboard
      </button>
  </div>
  <ul class="side-menu__list">
    <li class="side-menu__list-item">
      <a class="side-menu__list-link" href="#">
        <img class="side-menu__list-img" src="assets/icons/side-menu-profile.svg" alt="side-menu-profile">
        <span class="side-menu__list-text" >Profile</span>
        <img class="side-menu__list-img" src="assets/icons/shape.svg" alt="shape">
      </a>
    </li>
    <li class="side-menu__list-item">
      <a class="side-menu__list-link" href="#">
        <img class="side-menu__list-img" src="assets/icons/side-menu-bots.svg" alt="side-menu-bots">
        <span class="side-menu__list-text" >Bots</span>
      </a>
    </li>
    <li class="side-menu__list-item">
      <a class="side-menu__list-link" href="#">
        <img class="side-menu__list-img" src="assets/icons/side-menu-trading.svg" alt="side-menu-trading">
        <span class="side-menu__list-text" >All Trading</span>
      </a>
    </li>
  </ul>
</aside>

