<div class="statistic-card">
  <div class="statistic-card__item statistic-card__text">{{ item.bot_name }}</div>
  <div class="statistic-card__item statistic-card__item_long">{{ item.description }}</div>
  <div class="statistic-card__item statistic-card__item_long">{{ item.strategy }}</div>
  <div class="statistic-card__item">{{ item.bot_users }}</div>
  <div class="statistic-card__item">{{ item.revenue }}</div>
  <div class="statistic-card__item">
    <div class="statistic-card__item-box">
      {{ item.status }}
    </div>
  </div>
  <div class="statistic-card__item statistic-card__item_long">
    <div class="statistic-card__item-box statistic-card__item-box_view">
      {{ item.action }}
    </div>
  </div>
</div>
