
.main {
  &__info {
    display: flex;
    margin-bottom: 180px;
  }

  &__title {
    font-family: 'Poppins', sans-serif;
    color: #0E185F;
    text-align: left;
    font-size: 42px;
    font-weight: 700;
    line-height: 63px;
  }
  &__info-box {
    display: block;
    width: calc(100% - 750px);
    padding-top: 25px;
    padding-right: 20px;
  }
  &__image {
    height: 595px;
  }
  &__image-main {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__button {
    margin-bottom: 70px;

  }
  &__text-partners {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #0E185F;
    text-align: left;
  }
  &__partners-list {
    display: flex;
  }
  &__partners-item {
    width: 100%;
    height: 100%;
  }
  &__partners-list-item {
    list-style: none;
    width: calc(100% / 4);
  }
  &__services {
    margin-bottom: 165px;
  }
  &__row {
    display: flex;
    align-items: center;
  }
  &__services-subtitle {
    margin-bottom: 40px;
  }
  &__column {
    text-align: left;
    width: 350px;
    padding-right: 20px;
    position: relative;
  }
  &__arrow-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45px;
    right: 20px;
  }
  &__arrow {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__steps {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 350px);
    column-gap: 20px;
    position: relative;
  }
  &__steps-column {
    width: calc(100% / 2 - 10px);
    &_mt {
      margin-top: 30px;
    }
  }
  &__steps-container {
    display: flex;
    padding: 20px 35px;
    column-gap: 20px;
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: 300;
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }
  &__steps-bacgr {
    width: 70px;
    height: 70px;
    background: rgba(170, 255, 204, 0.2);
    border-radius: 175px 225px 135px 270px;
    position: relative;
    top: calc(50% - 35px);
    &_red {
      background: rgba(255, 203, 203, 0.2);
    }
    &_green {
      background: rgba(170, 255, 204, 0.2);
    }
    &_yellow {
      background: rgba(253, 254, 228, 0.5);
    }
  }
  &__steps-icon {
    position: absolute;
    top: 20px;
    left: 23px;
  }
  &__steps-done {
    position: absolute;
    top: 37px;
    left: 34px;
    z-index: 500;
  }
  &__step-box {
    width: calc(100% - 90px);
    text-align: left;
  }
  &__step-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #0E185F;
    margin-bottom: 7px;
    &_two-line {
      line-height: 30px;
    }
  }
  &__step-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #533E85;
  }
  &__steps-circle {
    width: 423px;
    height: 423px;
    border-radius: 50%;
    background: rgba(199, 194, 255, 0.5);
    filter: blur(200px);
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 100;
  }
  &__description {
    margin-bottom: 140px;
  }
  &__information {
    display: flex;
    column-gap: 125px;
    align-items: center;
    &_reverse {
      flex-direction: row-reverse;
    }
    &:not(:last-child) {
      margin-bottom: 100px;
    }
  }
  &__description-box {
    width: calc(100% - 625px);
  }
  &__subtitle {
    margin-bottom: 30px;
  }
  &__img-profit {
    width: 500px;
    height: 450px;
  }
  &__profit {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__banner {
    padding: 50px;
    background: linear-gradient(90deg, #55B4FF -1%, #0C81DD 98.5%);
    border-radius: 20px;
    margin-bottom: 130px;
    text-align: center;
  }

  &__banner-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;

  }
  &__banner-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    padding-left: 130px;
    padding-right: 130px;
    color: #fff;
    margin-bottom: 30px;
  }
  &__features {
    margin-bottom: 190px;
    position: relative;

  }
  &__section-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #0E185F;
    margin-bottom: 25px;
  }
  &__section-subname {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #533E85;
    margin-bottom: 85px;
    position: relative;
    z-index: 300;
    &_mb40 {
      margin-bottom: 40px;
    }
  }
  &__features-list {
    display: flex;
    column-gap: 24px;
    position: relative;
    z-index: 300;

  }
  &__features-item {
    width: calc(100% / 4);
    background: #fff;
    text-align: left;
    border: 1px solid #EAEAEA;
    border-radius: 18px;
    padding: 30px;
    border: 2px solid transparent;
    &:hover {
      cursor: pointer;
      border: 2px solid #0C81DD;
      box-shadow: 0px 3px 4px rgba(12, 129, 221, 0.5);
    }
  }
  &__features-img-box {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
  &__features-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }

  &__features-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #0E185F;
  }
  &__features-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #533E85;
  }
  &__features-circle {
    height: 595px;
    width: 595px;
    border-radius: 50%;
    background: rgba(199, 194, 255, 0.3);
    filter: blur(150px);
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 100;
  }
  &__plans {
    margin-bottom: 150px;
  }
  &__plans-buttons {
    display: flex;
    border: 1px solid rgba(228, 228, 228, 0.6);
    border-radius: 8px;
    width: 282px;
    height: 60px;
    margin: 0 auto 40px;
    overflow: hidden;
  }

  &__plans-button	{
    width: 50%;
    background: linear-gradient(90deg, #55B4FF -1%, #0C81DD 98.5%);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #fff;
    border: none;
    &_white {
      background: #fff;
      color: #0C81DD;
    }
  }
  &__plans-row {
    display: flex;
    column-gap: 50px;

  }
  &__plans-box {
    width: calc(100% / 3);
    padding: 30px 30px 40px 30px;
    text-align: left;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 18px;
    &:hover {
      cursor: pointer;
      border: 2px solid #0C81DD;
      .main__plans-circle {
        display: block;
      }
    }
  }
  &__plans-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #000;
    position: relative;
    z-index: 300;

  }
  &__plans-price {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 55px;
    line-height: 160%;
    color: #0E185F;
    position: relative;
    z-index: 300;
  }
  &__plans-period {
    font-size: 14px;
  }
  &__plans-acces {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #0E185F;
    margin-bottom: 26px;
    position: relative;
    z-index: 300;
  }
  &__plans-list {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #2B2B2B;
    text-align: left;
    margin-bottom: 50px;
    position: relative;
    z-index: 300;
  }
  &__plans-item {
    list-style: none;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__plans-icon {
    margin-right: 16px;
    position: relative;
    z-index: 300;
  }
  &__buy-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 224px;
    height: 46px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0E185F;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #0C81DD;
    &:hover {
      cursor: pointer;
      background: linear-gradient(90deg, #55B4FF -1%, #0C81DD 98.5%);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      color: #fff;
      border: none;
    }
  }
  &__plans-circle {
    display: none;
    width: 463px;
    height: 463px;
    background: rgba(140, 227, 255, 0.3);
    filter: blur(50px);
    position: absolute;
    left: -123px;
    top: -118px;
    z-index: 100;
  }
  &__blogs {
    margin-bottom: 120px;
  }
  &__blog-row {
    display: flex;
    column-gap: 30px;
    width: 100%;
  }
  &__blog-card {
    width: calc(100% / 3);
    background: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 18px;
    overflow: hidden;
  }
  &__blog-img-box {
    height: 195px;
  }
  &__blog-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__blog-box {
    padding: 20px 20px 36px 20px;
    text-align: left;
  }
  &__container-tips {
    margin-bottom: 13px;
  }
  &__blog-tips {
    display: inline-block;
    padding: 0 6px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: #511281;
    background: rgba(81, 18, 129, 0.15);
    border-radius: 4px;
  }
  &__blog-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0E185F;
    margin-bottom: 13px;
  }

  &__blog-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #533E85;
    margin-bottom: 13px;
  }
  &__blog-more {
    display: inline-flex;
    align-items: center;
    column-gap: 13px;
    cursor: pointer;
  }
  &__button-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #533E85;
  }

}
