<main class="main">
  <div class="container">
    <section class="main__info">
      <div class="main__info-box">
        <h1 class="main__title">A Trusted and Secure Cryptocurrency Exchange</h1>
        <div class="main__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing elit.</div>
        <div class="main__button">
          <button class="button button_small">Start Trading</button>
        </div>
        <h4 class="main__text-partners">We featured on popular partners like</h4>
        <ul class="main__partners-list">
          <li class="main__partners-list-item">
            <img class="main__partners-item" src="assets/images/image_2.svg" alt="image_2">
          </li>
          <li class="main__partners-list-item">
            <img class="main__partners-item" src="assets/images/image_3.svg" alt="image_3">
          </li>
          <li class="main__partners-list-item">
            <img class="main__partners-item" src="assets/images/image_4.svg" alt="image_4">
          </li>
          <li class="main__partners-list-item">
            <img class="main__partners-item" src="assets/images/image_5.svg" alt="image_5">
          </li>
        </ul>
      </div>
      <div class="main__image">
        <img class="main__image-main" src="assets/images/image_1.svg" alt="main-image">
      </div>
    </section>
    <section class="main__services">
      <div class="main__row">
        <div class="main__column">
          <h3 class="main__services-subtitle subtitle">Few easy steps to start</h3>
          <button class="main__button button button_small">Start Trading</button>
          <div class="main__arrow-img">
            <img class="main__arrow" src="assets/images/arrow.svg" alt="arrow">
          </div>
        </div>
        <div class="main__steps">
          <div class="main__steps-column">
            <div class="main__steps-container">
              <div class="main__steps-bacgr">
                <img class="main__steps-icon" src="assets/icons/profile.svg" alt="profile">
              </div>
              <div class="main__step-box">
                <div class="main__step-title" >Complete free registration</div>
                <div class="main__step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
              </div>
            </div>
            <div class="main__steps-container">
              <div class="main__steps-bacgr main__steps-bacgr_red">
                <img class="main__steps-icon" src="assets/icons/android.svg" alt="android">
              </div>
              <div class="main__step-box">
                <div class="main__step-title main__step-title_two-line" >Choose default algorithm and templates for the bot</div>
                <div class="main__step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
              </div>
            </div>
          </div>
          <div class="main__steps-column main__steps-column_mt">
            <div class="main__steps-container">
              <div class="main__steps-bacgr main__steps-bacgr_green">
                <img class="main__steps-icon" src="assets/icons/bitcoin.svg" alt="bitcoin">
              </div>
              <div class="main__step-box">
                <div class="main__step-title" >Choose cryptocurrency</div>
                <div class="main__step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
              </div>
            </div>
            <div class="main__steps-container">
              <div class="main__steps-bacgr main__steps-bacgr_yellow">
                <img class="main__steps-icon" src="assets/icons/folder.svg" alt="folder">
                <img class="main__steps-done" src="assets/icons/done.svg" alt="done">
              </div>
              <div class="main__step-box">
                <div class="main__step-title main__step-title_two-line" >Complete free registration exchange and trading pair</div>
                <div class="main__step-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</div>
              </div>
            </div>
          </div>
          <div class="main__steps-circle"></div>
        </div>
      </div>
    </section>
    <section class="main__description">
      <div class="main__information">
        <div class="main__description-box">
          <h3 class="main__subtitle subtitle">Notification and Bot operation reports</h3>
          <div class="main__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </div>
        </div>
        <div class="main__img-profit">
          <img class="main__profit" src="assets/images/image_6.svg" alt="main">
        </div>
      </div>
      <div class="main__information main__information_reverse">
        <div class="main__description-box">
          <h3 class="main__subtitle subtitle">Protection against Trading at the wrong time</h3>
          <div class="main__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </div>
        </div>
        <div class="main__img-profit">
          <img class="main__profit" src="assets/images/image_6.svg" alt="main">
        </div>
      </div>
      <div class="main__information">
        <div class="main__description-box">
          <h3 class="main__subtitle subtitle">Notification and Bot operation reports</h3>
          <div class="main__text text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          </div>
        </div>
        <div class="main__img-profit">
          <img class="main__profit" src="assets/images/image_6.svg" alt="main">
        </div>
      </div>
    </section>
    <section class="main__banner">
      <h3 class="main__banner-title">Level up your trading game with advanced trading tools that work on 18 of the biggest exchanges</h3>
      <div class="main__banner-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </div>
      <button class="main__banner-button button button_banner">Start Trading</button>
    </section>
    <section class="main__features">
      <h3 class="main__section-name">Our Amazing Faetures</h3>
      <div class="main__section-subname">Explore sensational features to prepare your best investment in cryptocurrency</div>
      <div class="main__features-list">
        <div class="main__features-item">
          <div class="main__features-img-box">
            <img class="main__features-img" src="assets/icons/feature-image1.svg" alt="feature1">
          </div>
          <div class="main__features-name">Manage Portfolio</div>
          <div class="main__features-text">Buy and sell popular digital currencies, keep track of them in the one place.
          </div>
        </div>
        <div class="main__features-item">
          <div class="main__features-img-box">
            <img class="main__features-img" src="assets/icons/feature-image2.svg" alt="feature2">
          </div>
          <div class="main__features-name">Protected Securely</div>
          <div class="main__features-text">All cash balances are covered by FDIC insurance, up to a maximum of $250,000.
          </div>
        </div>
        <div class="main__features-item">
          <div class="main__features-img-box">
            <img class="main__features-img" src="assets/icons/feature-image3.svg" alt="feature3">
          </div>
          <div class="main__features-name">Cryptocurrency Variety</div>
          <div class="main__features-text">Supports a variety of the most popular digital currencies and always uptodate.
          </div>
        </div>
        <div class="main__features-item">
          <div class="main__features-img-box">
            <img class="main__features-img" src="assets/icons/feature-image4.svg" alt="feature4">
          </div>
          <div class="main__features-name">Learn Best Practice</div>
          <div class="main__features-text">Easy to know how to cryptocurrency works and friendly to newbie.
          </div>
        </div>
      </div>
      <div class="main__features-circle"></div>
    </section>
    <section class="main__plans">
      <h3 class="main__section-name">Plans for Everyone</h3>
      <div class="main__section-subname main__section-subname_mb40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun</div>
      <div class="main__plans-buttons">
        <button class="main__plans-button main__plans-button_white">Monthly</button>
        <button class="main__plans-button">Annual</button>
      </div>
      <div class="main__plans-row">
        <div class="main__plans-box">
          <div class="main__plans-name">Basic Plans</div>
          <div class="main__plans-price">$05<span class="main__plans-period">/Per month</span></div>
          <div class="main__plans-acces">Monthly access</div>
          <ul class="main__plans-list">
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Lorem ipsum dolor sit amet</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Maecenas id orci iaculis erat tempus</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Donec non metus ut orci</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Pellentesque sed nisi</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Sed id felis eget orci </li>
          </ul>
          <button class="main__buy-button">Continue with Premium</button>
          <div class="main__plans-circle"></div>
        </div>
        <div class="main__plans-box">
          <div class="main__plans-name">Standard Plans</div>
          <div class="main__plans-price">$05<span class="main__plans-period">/Per month</span></div>
          <div class="main__plans-acces">Monthly access</div>
          <ul class="main__plans-list">
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Lorem ipsum dolor sit amet</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Maecenas id orci iaculis erat tempus</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Donec non metus ut orci</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Pellentesque sed nisi</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Sed id felis eget orci </li>
          </ul>
          <button class="main__buy-button">Continue with Premium</button>
          <div class="main__plans-circle"></div>
        </div>
        <div class="main__plans-box">
          <div class="main__plans-name">Premium Plans</div>
          <div class="main__plans-price">$05<span class="main__plans-period">/Per month</span></div>
          <div class="main__plans-acces">Monthly access</div>
          <ul class="main__plans-list">
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Lorem ipsum dolor sit amet</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Maecenas id orci iaculis erat tempus</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Donec non metus ut orci</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Pellentesque sed nisi</li>
            <li class="main__plans-item">
              <img class="main__plans-icon" src="assets/icons/V.svg" alt="V">
              Sed id felis eget orci </li>
          </ul>
          <button class="main__buy-button">Continue with Premium</button>
          <div class="main__plans-circle"></div>
        </div>
      </div>
    </section>
    <section class="main__blogs">
      <h3 class="main__section-name">Our Blogs</h3>
      <div class="main__section-subname main__section-subname_mb40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididun</div>
      <div class="main__blog-row">
        <div class="main__blog-card">
          <div class="main__blog-img-box">
            <img class="main__blog-img" src="assets/images/cash.svg" alt="cash">
          </div>
          <div class="main__blog-box">
            <div class="main__container-tips">
              <div class="main__blog-tips">Tips & Tricks</div>
            </div>
            <div class="main__blog-title">How to setup crypto wallet in your account</div>
            <div class="main__blog-text">A crypto wallet is a place where you can securely keep your crypto..</div>
            <div class="main__blog-more">
              <span class="main__button-text">Read more</span>
              <img class="main__blog-arrow" src="assets/images/arrow-more.svg" alt="arrow-more">
            </div>
          </div>
        </div>
        <div class="main__blog-card">
          <div class="main__blog-img-box">
            <img class="main__blog-img" src="assets/images/cash.svg" alt="cash">
          </div>
          <div class="main__blog-box">
            <div class="main__container-tips">
              <div class="main__blog-tips">Tips & Tricks</div>
            </div>
            <div class="main__blog-title">How to setup crypto wallet in your account</div>
            <div class="main__blog-text">A crypto wallet is a place where you can securely keep your crypto..</div>
            <div class="main__blog-more">
              <span class="main__button-text">Read more</span>
              <img class="main__blog-arrow" src="assets/images/arrow-more.svg" alt="arrow-more">
            </div>
          </div>
        </div>
        <div class="main__blog-card">
          <div class="main__blog-img-box">
            <img class="main__blog-img" src="assets/images/cash.svg" alt="cash">
          </div>
          <div class="main__blog-box">
            <div class="main__container-tips">
              <div class="main__blog-tips">Tips & Tricks</div>
            </div>
            <div class="main__blog-title">How to setup crypto wallet in your account</div>
            <div class="main__blog-text">A crypto wallet is a place where you can securely keep your crypto..</div>
            <div class="main__blog-more">
              <span class="main__button-text">Read more</span>
              <img class="main__blog-arrow" src="assets/images/arrow-more.svg" alt="arrow-more">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
