<main class="main-log">
  <div class="container">
    <div class="main-log__row">
      <div class="main-log__box">
        <h1 class="main-log__title" >A Trusted and Secure Cryptocurrency Exchange</h1>
        <div class="main-log__image-box">
          <img class="main-log__image" src="assets/images/img.png" alt="image">
        </div>
      </div>
      <div class="main-log__card card">
        <div class="card__button-box">
          <button class="card__button">Login</button>
          <button class="card__button card__button_inactive">Register</button>
        </div>
        <div class="card__title">Welcome to login</div>
        <div class="card__new-acc">Don't have an account?
          <a class="card__link-acc" href="#">Sign up here</a>
        </div>
        <div class="card__input">
          <input class="card__input-item hint-text hint-text_input" type="email" placeholder="Email">
        </div>
        <div class="card__input">
          <input class="card__input-item hint-text hint-text_input" type="password" placeholder="Password">
        </div>
        <div class="card__forgot-pass hint-text">
          <a class="card__forgot-link" href="#">Forgot Password?</a>
        </div>
        <button class="card__button-log button button_login">Login Now</button>
        <div class="card__border">
          <div class="card__box hint-text">or</div>
        </div>
        <button class="card__button-sing-up button button_google">
          <img src="assets/icons/ic_google.svg" alt="google">
          Sign up with Google
        </button>
        <button class="card__button-sing-up button button_facebook">
          <img src="assets/icons/ic_facebook.svg" alt="facebook">
          Sign up with Facebook
        </button>
        <button class="card__button-sing-up button button_apple">
          <img src="assets/icons/ic_apple.svg" alt="apple">
          Sign up with Apple
        </button>
      </div>
    </div>
    <div class="main-log__circle"></div>
  </div>

</main>
